In [18]:
import pandas as pd
import scraping as s

# Generar un dataset de partidos

In [6]:
def resultados(Gol_local, Gol_visitante):
  """
  Obtener el resultado del partido parraa el equipo local (V, E, D)

  Args:
    Gol_Local (list): Goles de los equipos locales
    Gol_visitante (list): Goles de los equipos visitantes
    
  Returns:
    Resultado (list): lista con los resultados (V, E, D)
  """
  Resultado = []
  for i, j in zip(Gol_local, Gol_visitante):
    if i > j:
      Resultado.append('V')
    elif i < j:
      Resultado.append('D')
    else:
      Resultado.append('E')
  return Resultado

In [5]:
temporada = '2023-2024'
Liga = {'La-Liga':12, 'Premier-League':9, 'Serie-A':11, 'Ligue-1':13, 'Bundesliga':20}

In [17]:
def PartidosJugados(url, Liga):
    """
    WebScrapping de los partidos

    Args:
        url (str): url para obtener los partidos

    Returns:
        df (Dataframe): df con partidos faltantes
    """
    #Obtener tabla de partidos
    df = s.WebScrapingPartidos(url, Liga)
    #Agregar resultado (V, E, D)
    df['resultado'] = resultados(df.Gol_local, df.Gol_visitante)
    #Eliminar columna innecesaria
    df.drop('Marcador', axis=1, inplace=True)
    return df

In [ ]:
df_dict = {}
for i in Liga:
    url = f'https://fbref.com/es/comps/{Liga[i]}/{temporada}/horario/Marcadores-y-partidos-de-{temporada}-{i}'
    df = PartidosJugados(url, i)
    df_dict[f'df_{i}'] = df

partidos = pd.concat(df_dict.values(), ignore_index=True)

partidos.head(15)

In [8]:
ruta = '../Data/partidos.csv'
partidos.to_csv(ruta, index=False)

# Generar in dataset de puntuacion ELO de acuerdo a [Elo.com](http://clubelo.com/API)

In [13]:
años = partidos.Fecha.unique().strftime('%Y-%m-%d')
Ligas = ['ENG', 'GER', 'ESP', 'ITA', 'FRA']

df_dict2 = {}

for i in años:
    url = f'http://api.clubelo.com/{i}'
    df = s.WebScrapingElo(url, Ligas, i)
    df_dict2[f'df_{i}'] = df

Puntuacion = pd.concat(df_dict2.values(), ignore_index=True)

In [15]:
Puntuacion.head()

                  Club          Elo       Fecha
0      Manchester City  2077.252197  2023-08-11
1            Liverpool  1946.900024  2023-08-11
2        Bayern Munich  1935.604248  2023-08-11
3              Arsenal  1919.369019  2023-08-11
4          Real Madrid  1906.480347  2023-08-11
...                ...          ...         ...
17755          Lorient  1553.590698  2024-02-07
17756           Nantes  1544.605835  2024-02-07
17757          Almería  1536.975830  2024-02-07
17758             Metz  1532.317505  2024-02-07
17759     Darmstadt 98  1527.865234  2024-02-07

[17760 rows x 3 columns]

In [16]:
ruta2 = '../Data/puntuacion.csv'
Puntuacion.to_csv(ruta2, index=False)